@import 'https://fonts.googleapis.com/css?family=Roboto:500';

@base: #003f5f;
@second: #0492e1;
@active: #bdbdbd;
@white: #fff;

#root {
  font-family: 'Roboto', sans-serif;
  color: @base;
}

.pend {
  width: 1060px;
  padding: 0 20px;
}

.strip {
  background-color: @active;
  height: 20px;
}

nav {
  .head {
    display: block;
    float: left;
    width: 15%;
  }

  li:first-child a {
    background: transparent;
  }

  a {
    display: block;
    background: url('border.jpg') repeat-y;
    color: @base;
    height: 65px;
    font-size: 14px;
    padding: 10px 20px;
  }

  #main-head {
    li:first-child .active,
    .active {
      background-color: @active;
    }
  }
}

#board {
  position: relative;

  > div {
    background-color: #003f5f;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  #side-head {
    float: left;
    width: 15%;
    background-color: @white;

    li {
      background-color: @active;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 1px;
      padding: 15px 20px;
      cursor: pointer;
    }

    li:last-child {
      margin-bottom: 0;
    }

    .active {
      background-color: @base;
      color: @white;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .pend {
    width: 100%;
  }
}
